body
{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    margin: o;
    padding: 0;
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
<<<<<<< HEAD
    padding: 0.5em 0 0.5em 2em;
}
#cabecera #logo
{
    width: 151px;
    vertical-align: middle;
=======
    padding: 0.5em;
>>>>>>> footer
}
#Cabecera #logo
{}
#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.7cm;
}
#container
{
width: 50%;
padding: 1em;
text-align: left;
border: 1px solid #cccccc;
margin: 0 auto;
}
#container 
{
    font-size: 48px;
}
<<<<<<< HEAD
#container h1
{
    font-size: 20px;
=======
#footer
{
    background: darkgoldenrod;
    color: white;
    text-align: center;
>>>>>>> footer
}
#post
{
    background: white;
<<<<<<< HEAD
    padding: 1em;
}
=======
    padding: 1em;
>>>>>>> footer
